@font-face {
  font-family: kirvy;
  src: url("../fonts/Kirvy-Regular.otf");
}

@font-face {
  font-family: kirvy;
  src: url("../fonts/Kirvy-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: kirvy;
  src: url("../fonts/Kirvy-Light.otf");
  font-weight: lighter;
}

@font-face {
  font-family: kirvy;
  src: url("../fonts/Kirvy-Thin.otf");
  font-weight: 100;
}

body {
  overflow-x: hidden;
}

* {
  font-family: kirvy;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}
